<!DOCTYPE html>
<html>
  <head>
    <title>Mongoose Flight</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <nav class="nav1">
    <a class="head1" href="/flights">All Flights</a> 
    <a class="head1" href="/flights/new">Add Flight</a>
  </nav>