<!DOCTYPE html>
<html>
  <head>
    <title>Mongoose Flight</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <a href="/flights">All Flights</a> |
      <a href="/flights/new">Add Flight</a>