<%- include('../partials/header') %>

<form action="/flights/<%= flightId %>/tickets" method="POST">
    <label class="ticket1">Seat:</label>
    <input class="ticket1" name="seat" required pattern="[A-F][1-9]\d?">
    <label class="ticket1" >Price:</label>
    <input class="ticket1" name="price" type="text" >
    <button class="ticket1" type="submit">Submit</button>
</form>


<%- include('../partials/footer') %>