<%- include('../partials/header') %>

<h2 class="enter1">Enter a New Flight</h2>
<nav class="new1">
<form action="/flights" method="POST">
  <label>Airline:
   <select class ="class1" name="airline" id="airline">
     <option value="American">American</option>
     <option value="Southwest">Southwest</option>
     <option value="United">United</option>
   </select>
  </label><br>
  <label>Airport:
    <select class="class1" name="airport" id="airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
  </label><br>
  <label>Flight Number:
   <input class="new2" type="number" name="flightNo">
  </label><br>
  <label>Departs:
    <input class="new2" type="date" required name="departs">
  </label><br>
  <input class="new2" type="submit" value="Add Flight">
</form>
</nav>

<%- include('../partials/footer') %>